Repository 0x1-company/ios-monorepo, pull requests merged in 2024-02, with the labels that each got.

#277 feat: 🎸 error message
  Packages/BeMatch/Sources/DeleteAccountFeature/DeleteAccount.swift
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
Labels: BeMatch

#278 fix: 🐛 short comment localization
  Packages/BeMatch/Sources/ProfileEditFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Localizable.xcstrings
Labels: BeMatch

#281 feat: user categories
  Packages/BeMatch/GraphQL/Queries/UserCategories.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UserCategoriesQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Enums/UnitPoint.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/LinearGradient.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/UserCategory.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/CategoryEmptyFeature/CategoryEmpty.swift
  Packages/BeMatch/Sources/CategoryEmptyFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/CategoryFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/CategoryFeature/Assets.xcassets/be-match.imageset/Contents.json
  Packages/BeMatch/Sources/CategoryFeature/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/BeMatch/Sources/CategoryFeature/Category.swift
  Packages/BeMatch/Sources/CategoryFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/CategoryListFeature/CategoryList.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategoryRow.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategorySection.swift
  Packages/BeMatch/Sources/CategoryListFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/category-active.imageset/Contents.json
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/category-active.imageset/category-active.pdf
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/category-deactive.imageset/Contents.json
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/category-deactive.imageset/category-deactive.pdf
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#284 feat: 🎸 background gradient
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategoryList.swift
  Packages/BeMatch/Sources/CategorySwipeFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/CategorySwipeFeature/Assets.xcassets/heart.imageset/Contents.json
  Packages/BeMatch/Sources/CategorySwipeFeature/Assets.xcassets/heart.imageset/heart.pdf
  Packages/BeMatch/Sources/CategorySwipeFeature/Assets.xcassets/xmark.imageset/Contents.json
  Packages/BeMatch/Sources/CategorySwipeFeature/Assets.xcassets/xmark.imageset/xmark.pdf
  Packages/BeMatch/Sources/CategorySwipeFeature/CategorySwipe.swift
  Packages/BeMatch/Sources/CategorySwipeFeature/Localizable.xcstrings
Labels: BeMatch

#286 feat: section rows reversed
  Packages/BeMatch/Sources/CategoryFeature/Category.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategorySection.swift
Labels: BeMatch

#287 fix: 🐛 category
  Packages/BeMatch/Sources/CategoryFeature/Category.swift
  Packages/BeMatch/Sources/CategorySwipeFeature/CategorySwipe.swift
Labels: BeMatch

#289 Fix category
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/CategoryEmptyFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/CategoryEmptyFeature/Assets.xcassets/empty.imageset/Contents.json
  Packages/BeMatch/Sources/CategoryEmptyFeature/Assets.xcassets/empty.imageset/empty.pdf
  Packages/BeMatch/Sources/CategoryEmptyFeature/CategoryEmpty.swift
  Packages/BeMatch/Sources/CategoryEmptyFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/CategoryFeature/Category.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategoryRow.swift
  Packages/BeMatch/Sources/CategorySwipeFeature/CategorySwipe.swift
Labels: BeMatch

#290 fix: 🐛 linear gradient
  Packages/BeMatch/GraphQL/Queries/UserCategories.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UserCategoriesQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Enums/UnitPoint.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/LinearGradient.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/CategorySwipeFeature/CategorySwipe.swift
Labels: BeMatch

#291 feat: 🎸 received like
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/CategoryFeature/Category.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategoryList.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategoryRow.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategorySection.swift
Labels: BeMatch

#296 feat: 🎸 blur
  Packages/BeMatch/Sources/CategoryListFeature/CategoryList.swift
  Packages/BeMatch/Sources/CategoryListFeature/CategorySection.swift
Labels: BeMatch

#299 feat: 🎸 category screen log
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FlyCam.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Packages/BeMatch/Sources/CategoryEmptyFeature/CategoryEmpty.swift
  Packages/BeMatch/Sources/CategoryFeature/Category.swift
Labels: BeMatch, FlyCam

#300 feat: 🎸 achievement
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AchievementFeature/Achievement.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementRatingWidget.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementWidget.swift
  Packages/BeMatch/Sources/AchievementFeature/Localizable.xcstrings
Labels: BeMatch

#303 feat: 🎸 package resolved
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
  FlyCam.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: BeMatch, FlyCam

#304 refactor: 💡 analytics log screen
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/BeMatch/Sources/BeRealSampleFeature/BeRealSample.swift
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessage.swift
  Packages/BeMatch/Sources/GenderSettingFeature/GenderSetting.swift
  Packages/BeMatch/Sources/InvitationCodeFeature/InvitationCode.swift
  Packages/BeMatch/Sources/InvitationFeature/Invitation.swift
  Packages/BeMatch/Sources/MatchFeature/Match.swift
  Packages/BeMatch/Sources/MatchedFeature/Matched.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
  Packages/BeMatch/Sources/ProfileExternalFeature/ProfileExternal.swift
  Packages/BeMatch/Sources/ProfileFeature/Profile.swift
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/ReceivedLikeSwipe.swift
  Packages/BeMatch/Sources/RecommendationEmptyFeature/RecommendationEmpty.swift
  Packages/BeMatch/Sources/RecommendationSwipeFeature/RecommendationSwipe.swift
  Packages/BeMatch/Sources/ReportFeature/Report.swift
  Packages/BeMatch/Sources/ReportFeature/ReportReason.swift
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
  Packages/BeMatch/Sources/SettingsFeature/SettingsOther.swift
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
  Packages/BeMatch/Sources/TutorialFeature/Tutorial.swift
  Packages/BeMatch/Sources/UsernameSettingFeature/UsernameSetting.swift
Labels: BeMatch

#305 refactor: swipe
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/CategoryEmptyFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/CategorySwipeFeature/CategorySwipe.swift
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/ReceivedLikeSwipe.swift
  Packages/BeMatch/Sources/RecommendationFeature/Recommendation.swift
  Packages/BeMatch/Sources/RecommendationSwipeFeature/RecommendationSwipe.swift
  Packages/BeMatch/Sources/SwipeFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/SwipeFeature/Assets.xcassets/heart.imageset/Contents.json
  Packages/BeMatch/Sources/SwipeFeature/Assets.xcassets/heart.imageset/heart.pdf
  Packages/BeMatch/Sources/SwipeFeature/Assets.xcassets/xmark.imageset/Contents.json
  Packages/BeMatch/Sources/SwipeFeature/Assets.xcassets/xmark.imageset/xmark.pdf
  Packages/BeMatch/Sources/SwipeFeature/Swipe.swift
Labels: BeMatch

#308 fix: 🐛 category swipe padding horizontal
  Packages/BeMatch/Sources/CategorySwipeFeature/CategorySwipe.swift
Labels: BeMatch

#310 resolved
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: BeMatch

#314 feat: 🎸 username on bereal
  Packages/BeMatch/Sources/ProfileEditFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
Labels: BeMatch

#315 feat: achievement
  Makefile
  Packages/BeMatch/GraphQL/Queries/Achievement.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AchievementFeature/Achievement.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementList.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementWidget.swift
  Packages/BeMatch/Sources/AchievementFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/AchievementQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/Achievement.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/SettingsFeature/CreationDate.swift
  SwiftScripts/ApolloTool/Package.resolved
Labels: BeMatch

#316 fix: 🐛 achievement
  Packages/BeMatch/Sources/AchievementFeature/Achievement.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementList.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementWidget.swift
  Packages/BeMatch/Sources/AchievementFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/CreationDate.swift
Labels: BeMatch

#318 feat: 🎸 screenshots
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/ScreenshotLogic.swift
Labels: BeMatch

#321 feat: 🎸 banned
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
Labels: BeMatch

#313 [wip] Add emptyView for SwipeView
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/Assets.xcassets/empty.imageset/Contents.json
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/Assets.xcassets/empty.imageset/empty.pdf
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/ReceivedLikeSwipe.swift
Labels: BeMatch

#323 fix: 🐛 renovate
  .github/workflows/renovate.yml
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: BeMatch, GitHub

#326 refactor: 💡 achievement content
  Packages/BeMatch/Sources/AchievementFeature/Achievement.swift
  Packages/BeMatch/Sources/AchievementFeature/AchievementContent.swift
Labels: BeMatch

#327 feat: message
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/MessageListFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MessageListFeature/MessageContent.swift
  Packages/BeMatch/Sources/MessageListFeature/MessageList.swift
Labels: BeMatch

#330 feat: 🎸 navigation icon
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/category-active.imageset/category-active.pdf
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/category-deactive.imageset/category-deactive.pdf
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/message-active.imageset/message-active.pdf
  Packages/BeMatch/Sources/NavigationFeature/Assets.xcassets/message-deactive.imageset/message-deactive.pdf
Labels: BeMatch

#332 fix: 🐛 match crush
  Packages/BeMatch/Sources/MatchFeature/Match.swift
  Packages/BeMatch/Sources/ProfileExternalFeature/ProfileExternal.swift
Labels: BeMatch

#334 refactor: 💡 direct message
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/DirectMessageListFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/DirectMessageListFeature/Assets.xcassets/be-match.imageset/Contents.json
  Packages/BeMatch/Sources/DirectMessageListFeature/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/BeMatch/Sources/DirectMessageListFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DirectMessageListFeature/MessageContent.swift
  Packages/BeMatch/Sources/DirectMessageListFeature/MessageList.swift
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#335 refactor: direct message tab
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/DirectMessageListFeature/MessageContent.swift
  Packages/BeMatch/Sources/DirectMessageListFeature/MessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/DirectMessageTabFeature/Assets.xcassets/be-match.imageset/Contents.json
  Packages/BeMatch/Sources/DirectMessageTabFeature/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContent.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageListContent.swift
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#338 feat: navigation stack store in direct message tab
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#341 feat: 🎸 jump to bereal
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/ProfileFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfileFeature/Profile.swift
Labels: BeMatch

#343 fix: 🐛 match separator
  Packages/BeMatch/Sources/MatchFeature/Match.swift
Labels: BeMatch

#344 fix: 🐛 font and localize
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContent.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchFeature/Match.swift
Labels: BeMatch

#345 fix: 🐛 direct message loading
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageList.swift
Labels: BeMatch

#346 feat: freezed
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/FreezedFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/FreezedFeature/Assets.xcassets/no.imageset/Contents.json
  Packages/BeMatch/Sources/FreezedFeature/Assets.xcassets/no.imageset/no.pdf
  Packages/BeMatch/Sources/FreezedFeature/Freezed.swift
  Packages/BeMatch/Sources/FreezedFeature/Localizable.xcstrings
Labels: BeMatch

#352 feat: 🎸 hidden direct message
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#358 refactor: 💡 app logic
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
Labels: BeMatch

#359 feat: 🎸 firebase crashlytics
  Packages/SDK/Package.swift
  Packages/SDK/Sources/FirebaseCrashlyticsClient/Client.swift
  Packages/SDK/Sources/FirebaseCrashlyticsClient/LiveKey.swift
  Packages/SDK/Sources/FirebaseCrashlyticsClient/TestKey.swift
Labels: SDK

#361 feat: 🎸 impl crashlytics
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppDelegate.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/UserSettingsLogic.swift
Labels: BeMatch

#362 feat: 🎸 bematch messages
  Packages/BeMatch/GraphQL/Mutations/CreateMessage.graphql
  Packages/BeMatch/GraphQL/Queries/Messages.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateMessageMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MessagesQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/InputObjects/CreateMessageInput.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/Message.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/MessageConnection.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/MessageEdge.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
Labels: BeMatch

#366 fix: 🐛 message row padding
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessageRow.swift
Labels: BeMatch

#367 feat: 🎸 message is author
  Packages/BeMatch/GraphQL/Fragments/MessageRow.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Fragments/MessageRow.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/DirectMessageQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MessagesQuery.graphql.swift
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessage.swift
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessageRow.swift
Labels: BeMatch

#369 feat: 🎸 iphone development target
  App/BeMatch/Production.xcodeproj/project.pbxproj
  App/BeMatch/Staging.xcodeproj/project.pbxproj
Labels: BeMatch

#370 refactor: 💡 direct message
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessage.swift
Labels: BeMatch

#371 fix: 🐛 failed to account deletion
  Packages/BeMatch/Sources/DeleteAccountFeature/DeleteAccount.swift
Labels: BeMatch

#372 fix: 🐛 short comment localize
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
Labels: BeMatch

#374 fix: 🐛 short comment error
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
Labels: BeMatch

#376 feat: 🎸 achievement on settings
  Packages/BeMatch/Sources/SettingsFeature/CreationDate.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#378 feat: 🎸 impl recent match
  Packages/BeMatch/GraphQL/Fragments/UnsentDirectMessageListContentRow.graphql
  Packages/BeMatch/GraphQL/Queries/DirectMessageTab.graphql
  Packages/BeMatch/GraphQL/Queries/MessageRooms.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/UnsentDirectMessageListContentRow.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/DirectMessageTabQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MessageRoomsQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/MessageRoom.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/MessageRoomConnection.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/MessageRoomEdge.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContent.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContentRow.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageListContent.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageListContentRow.swift
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#383 feat: 🎸 destination achievement
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#386 feat: 🎸 faq
  Packages/BeMatch/Sources/Constants/Constants.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#390 feat: 🎸 unsent top
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageList.swift
Labels: BeMatch

#391 feat: 🎸 direct message padding
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessage.swift
Labels: BeMatch

#392 Update UnsentDirectMessageListContentRow.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageListContentRow.swift
Labels: BeMatch

#393 feat: impl read messages
  Packages/BeMatch/GraphQL/Mutations/ReadMessages.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/ReadMessagesMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/InputObjects/ReadMessagesInput.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessage.swift
Labels: BeMatch

#394 refactor: 💡 received like child view
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/ReceivedLikeSwipe.swift
Labels: BeMatch

#395 feat: 🎸 message is read
  Packages/BeMatch/GraphQL/Fragments/DirectMessageListContentRow.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Fragments/DirectMessageListContentRow.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/MessageRow.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateMessageMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/DirectMessageQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MessagesQuery.graphql.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContentRow.swift
Labels: BeMatch

#396 feat: 🎸 received like in direct message tab
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
Labels: BeMatch

#398 fix: 🐛 received like transition
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
Labels: BeMatch

#399 feat: message mark read
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContent.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContentRow.swift
Labels: BeMatch

#404 feat: 🎸 membership
  Packages/BeMatch/Sources/CategoryListFeature/CategoryList.swift
  Packages/BeMatch/Sources/DirectMessageFeature/DirectMessage.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/ProfileExternalFeature/ProfileExternal.swift
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/ReceivedLikeSwipe.swift
Labels: BeMatch

#407 feat: 🎸 message room pagination
  Packages/BeMatch/GraphQL/Queries/DirectMessageListContent.graphql
  Packages/BeMatch/GraphQL/Queries/MessageRooms.graphql
  Packages/BeMatch/GraphQL/Queries/UnsentDirectMessageListContent.graphql
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/DirectMessageListContentQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UnsentDirectMessageListContentQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContent.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageListContentRow.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
Labels: BeMatch
