Repository 0x1-company/ios-monorepo, pull requests merged in 2024-08, with the labels that each got.

#973 feat: like router in push notification
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/MatchCore/Sources/AppLogic/AppLogic.swift
  Packages/TapMatch/Sources/AppFeature/AppLogic.swift
  Packages/TenMatch/Sources/AppFeature/AppLogic.swift
  Packages/Trinket/Sources/AppFeature/AppLogic.swift
Labels: BeMatch, MatchCore, TapMatch, Trinket, TenMatch

#974 fix(bematch): text localizations
  Packages/BeMatch/Sources/UsernameSettingFeature/Localizable.xcstrings
Labels: BeMatch

#977 feat(bematch): localizations
  App/BeMatch/Multiplatform/Production/Info.plist
  App/BeMatch/Multiplatform/Staging/Info.plist
  App/BeMatch/Production.xcodeproj/project.pbxproj
  App/BeMatch/Staging.xcodeproj/project.pbxproj
  Packages/BeMatch/Sources/AchievementFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/BannedFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/CategoryEmptyFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DeleteAccountFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DirectMessageFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DirectMessageTabFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/DisplayNameSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ExplorerFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ForceUpdateFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/FreezedFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/GenderSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/HowToMovieFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/InvitationCodeFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/InvitationFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MaintenanceFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchEmptyFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchedFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipStatusFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/NetworkErrorFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfilePictureSettingFeature/Localizable.xcstrings
Labels: BeMatch

#980 feat: settings localizations
  Packages/TapMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/TenMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/Trinket/Sources/SettingsFeature/Localizable.xcstrings
Labels: TapMatch, Trinket, TenMatch

#981 feat(dependencies): create device client
  Packages/Dependencies/Package.swift
  Packages/Dependencies/Sources/DeviceClient/Client.swift
Labels: Dependencies

#983 feat(core): recommendation refetch
  Packages/MatchCore/Sources/RecommendationLogic/Recommendation.swift
  Packages/MatchCore/Sources/RecommendationLogic/RecommendationEmpty.swift
Labels: MatchCore

#990 feat: product purchase ui
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Packages/BeMatch/Sources/ProductPurchaseFeature/ProductPurchaseContentRow.swift
  Packages/MatchCore/Sources/ProductPurchaseLogic/Localizable.xcstrings
  Packages/MatchCore/Sources/ProductPurchaseLogic/ProductPurchaseContentRow.swift
  Packages/TapMatch/Sources/ProductPurchaseFeature/ProductPurchaseContentRow.swift
  Packages/TenMatch/Sources/ProductPurchaseFeature/ProductPurchaseContentRow.swift
  Packages/Trinket/Sources/ProductPurchaseFeature/ProductPurchaseContentRow.swift
Labels: BeMatch, MatchCore, TapMatch, Trinket, TenMatch

#991 feat(core): product purchase localizations
  Packages/MatchCore/Sources/ProductPurchaseLogic/Localizable.xcstrings
Labels: MatchCore

#994 fix: build
  Packages/MatchCore/Sources/AppLogic/AppLogic.swift
  Packages/MatchCore/Sources/OnboardLogic/Onboard.swift
  Packages/MatchCore/Sources/ProfileEditLogic/ProfileEdit.swift
  Packages/MatchCore/Sources/ProfileLogic/Localizable.xcstrings
  Packages/TapMatch/Sources/SettingsFeature/Localizable.xcstrings
Labels: MatchCore, TapMatch

#995 feat: AppsFlyerClientLive
  App/BeMatch/Multiplatform/App.swift
  App/BeMatch/Production.xcodeproj/project.pbxproj
  App/BeMatch/Staging.xcodeproj/project.pbxproj
  App/PicMatch/Production.xcodeproj/project.pbxproj
  App/PicMatch/Staging.xcodeproj/project.pbxproj
  App/TapMatch/Production.xcodeproj/project.pbxproj
  App/TapMatch/Staging.xcodeproj/project.pbxproj
  App/TenMatch/Production.xcodeproj/project.pbxproj
  App/TenMatch/Staging.xcodeproj/project.pbxproj
  App/Trinket/Production.xcodeproj/project.pbxproj
  App/Trinket/Staging.xcodeproj/project.pbxproj
  Packages/Dependencies/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
  Packages/Dependencies/Package.resolved
  Packages/Dependencies/Package.swift
  Packages/Dependencies/Sources/AppsFlyerClient/Client.swift
  Packages/Dependencies/Sources/AppsFlyerClient/TestKey.swift
  Packages/Dependencies/Sources/AppsFlyerClientLive/LiveKey.swift
Labels: BeMatch, Dependencies, TapMatch, Trinket, TenMatch, PicMatch

#997 feat(picmatch): project name
  App/PicMatch/Multiplatform/Production/Info.plist
  App/PicMatch/Multiplatform/Staging/Info.plist
  App/PicMatch/Production.xcodeproj/project.pbxproj
  App/PicMatch/Staging.xcodeproj/project.pbxproj
Labels: PicMatch

#998 refactor: build
  Packages/Dependencies/Sources/Build/Client.swift
  Packages/Dependencies/Sources/Build/TestKey.swift
  Packages/Dependencies/Sources/DeviceCheckClient/LiveKey.swift
Labels: Dependencies

#1001 feat(picmatch): icon
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon-staging.appiconset/AppIcon__PicMatch.png
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon-staging.appiconset/Contents.json
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon-staging.appiconset/Icon 1.png
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon.appiconset/AppIcon__PicMatch.png
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon.appiconset/Contents.json
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon.appiconset/Icon.png
  App/PicMatch/Multiplatform/Localizable.xcstrings
  ci_scripts/ci_post_xcodebuild.sh
  ci_scripts/ci_pre_xcodebuild.sh
Labels: PicMatch

#979 refactor: analytics client live
  App/BeMatch/Production.xcodeproj/project.pbxproj
  App/BeMatch/Staging.xcodeproj/project.pbxproj
  App/PicMatch/Production.xcodeproj/project.pbxproj
  App/PicMatch/Staging.xcodeproj/project.pbxproj
  App/TapMatch/Production.xcodeproj/project.pbxproj
  App/TapMatch/Staging.xcodeproj/project.pbxproj
  App/TenMatch/Production.xcodeproj/project.pbxproj
  App/TenMatch/Staging.xcodeproj/project.pbxproj
  App/Trinket/Production.xcodeproj/project.pbxproj
  App/Trinket/Staging.xcodeproj/project.pbxproj
  Packages/Dependencies/Package.swift
  Packages/Dependencies/Sources/AnalyticsClient/Client.swift
  Packages/Dependencies/Sources/AnalyticsClient/TestKey.swift
  Packages/Dependencies/Sources/AnalyticsClientLive/LiveKey.swift
Labels: BeMatch, Dependencies, TapMatch, Trinket, TenMatch, PicMatch

#1004 fix(dependencies): analytics client testkey
  Packages/Dependencies/Sources/AnalyticsClient/TestKey.swift
Labels: Dependencies

#1006 feat(core): update instagram username mutation
  Packages/MatchCore/GraphQL/Fragments/UserInternal.graphql
  Packages/MatchCore/GraphQL/Mutations/UpdateInstagram.graphql
  Packages/MatchCore/GraphQL/schema.graphqls
  Packages/MatchCore/Sources/API/Fragments/UserInternal.graphql.swift
  Packages/MatchCore/Sources/API/Operations/Mutations/CreateUserMutation.graphql.swift
  Packages/MatchCore/Sources/API/Operations/Mutations/UpdateInstagramMutation.graphql.swift
  Packages/MatchCore/Sources/API/Operations/Queries/CurrentUserQuery.graphql.swift
  Packages/MatchCore/Sources/API/Schema/InputObjects/UpdateInstagramInput.graphql.swift
  Packages/MatchCore/Sources/APIClient/Client.swift
  Packages/MatchCore/Sources/APIClientLive/LiveKey.swift
  Packages/MatchCore/Sources/AppLogic/AppLogic.swift
  Packages/MatchCore/Sources/OnboardLogic/Onboard.swift
  Packages/MatchCore/Sources/ProfileEditLogic/ProfileEdit.swift
  Packages/MatchCore/Sources/UsernameSettingLogic/UsernameSetting.swift
Labels: MatchCore

#1008 feat(core): config global network error
  Packages/MatchCore/Sources/AppLogic/ConfigGlobalLogic.swift
Labels: MatchCore

#1009 Update renovate.yml
  .github/workflows/renovate.yml
Labels: GitHub

#1011 feat(bematch): package resolved
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: BeMatch

#1020 feat(picmatch): production app icon
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon.appiconset/AppIcon__PicMatch.jpg
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon.appiconset/AppIcon__PicMatch.png
  App/PicMatch/Multiplatform/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: PicMatch

#1022 Update release.yml
  .github/workflows/release.yml
Labels: GitHub

#1024 feat(picmatch): version
  App/PicMatch/Multiplatform/Production/Info.plist
  App/PicMatch/Multiplatform/Staging/Info.plist
Labels: PicMatch

#1032 refactor(core): account state
  Packages/MatchCore/Sources/AppLogic/ConfigGlobalLogic.swift
Labels: MatchCore

#1034 feat(core): photos matching
  Packages/BeMatch/Sources/ProfilePictureSettingFeature/PhotoGrid.swift
Labels: BeMatch

#1035 feat(dependencies): UIDeviceClient
  Packages/Dependencies/Package.swift
  Packages/Dependencies/Sources/UIDeviceClient/Client.swift
  Packages/Dependencies/Sources/UIDeviceClient/TestKey.swift
  Packages/Dependencies/Sources/UIDeviceClientLive/LIveKey.swift
Labels: Dependencies

#1037 feat(core): auth crashlytics
  Packages/MatchCore/Sources/AppLogic/AuthLogic.swift
Labels: MatchCore

#1039 fix: crashlytics
  Packages/MatchCore/Sources/AppLogic/ConfigGlobalLogic.swift
Labels: MatchCore

#1044 feat: alert error
  Packages/MatchCore/Sources/AppLogic/AppLogic.swift
  Packages/MatchCore/Sources/AppLogic/AuthLogic.swift
  Packages/MatchCore/Sources/AppLogic/ConfigGlobalLogic.swift
  Packages/PicMatch/Sources/AppFeature/AppLogic.swift
Labels: MatchCore

#1046 feat(picmatch): error alert
  Packages/MatchCore/Sources/AppLogic/AppLogic.swift
  Packages/MatchCore/Sources/AppLogic/AuthLogic.swift
  Packages/MatchCore/Sources/AppLogic/ConfigGlobalLogic.swift
  Packages/PicMatch/Sources/AppFeature/AppLogic.swift
  ci_scripts/ci_post_xcodebuild.sh
Labels: MatchCore, PicMatch

#1050 fix: analytics
  App/TapMatch/Multiplatform/InfoPlist.xcstrings
  App/Trinket/Multiplatform/InfoPlist.xcstrings
  Packages/MatchCore/Sources/AnalyticsKeys/UserPropertyKeys.swift
  Packages/MatchCore/Sources/AppLogic/AuthLogic.swift
  Packages/Trinket/Sources/MembershipFeature/Localizable.xcstrings
  Packages/Trinket/Sources/SettingsFeature/Localizable.xcstrings
  TapMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: MatchCore, TapMatch, Trinket

#1053 Update AuthLogic.swift
  Packages/MatchCore/Sources/AppLogic/AuthLogic.swift
Labels: MatchCore

#1056 feat(core): allow non external product photos
  Packages/BeMatch/Sources/ProfilePictureSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfilePictureSettingFeature/ProfilePictureSetting.swift
  Packages/MatchCore/Sources/ProfileEditLogic/ProfileEdit.swift
  Packages/MatchCore/Sources/ProfilePictureSettingLogic/ProfilePictureSetting.swift
Labels: BeMatch, MatchCore

#1059 feat(bematch): profile picture settings text
  Packages/BeMatch/Sources/ProfilePictureSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfilePictureSettingFeature/ProfilePictureSetting.swift
Labels: BeMatch

#1057 feat(core): attach image hash
  Packages/MatchCore/GraphQL/schema.graphqls
  Packages/MatchCore/Sources/API/Operations/Queries/MatchesQuery.graphql.swift
  Packages/MatchCore/Sources/API/Schema/InputObjects/UpdateUserImageV2Input.graphql.swift
  Packages/MatchCore/Sources/ProfilePictureSettingLogic/ProfilePictureSetting.swift
Labels: MatchCore
