Repository 0x1-company/ios-monorepo, pull requests merged in 2024-04, with the labels that each got.

#503 feat: 🎸 banned description
  Packages/BeMatch/Sources/BannedFeature/Banned.swift
  Packages/BeMatch/Sources/BannedFeature/Localizable.xcstrings
Labels: BeMatch

#504 Update release.yml
  .github/workflows/release.yml
Labels: GitHub

#507 feat: membership status
  Packages/BeMatch/GraphQL/Queries/PremiumMembership.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/PremiumMembershipQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/PremiumMembership.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/MembershipStatusFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipStatusFeature/MembershipStatus.swift
  Packages/BeMatch/Sources/MembershipStatusFeature/MembershipStatusCampaignContent.swift
  Packages/BeMatch/Sources/MembershipStatusFeature/MembershipStatusFreeContent.swift
  Packages/BeMatch/Sources/MembershipStatusFeature/MembershipStatusPaidContent.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#508 fix: 🐛 membership status
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/MembershipStatusFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipStatusFeature/MembershipStatus.swift
  Packages/BeMatch/Sources/ReceivedLikeSwipeFeature/ReceivedLikeSwipe.swift
Labels: BeMatch

#509 Fix dm transition destination of profile to message
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
Labels: BeMatch

#511 fix: 🐛 user notification delegate
  Packages/BeMatch/Sources/AppFeature/AppDelegate.swift
  Packages/SDK/Sources/UserNotificationClient/LiveKey.swift
Labels: BeMatch, SDK

#514 fix: 🐛 did receive response on main thread
  Packages/BeMatch/Sources/AppFeature/AppDelegate.swift
Labels: BeMatch

#516 refactor: 💡 badge count
  Packages/BeMatch/Sources/AppFeature/AppDelegate.swift
Labels: BeMatch

#518 refactor: 💡 state child in achievement
  Packages/BeMatch/Sources/AchievementFeature/Achievement.swift
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#520 fix: 🐛 delete completion alert
  Packages/BeMatch/Sources/DeleteAccountFeature/DeleteAccount.swift
Labels: BeMatch

#524 feat: 🎸 device check
  Packages/BeMatch/Sources/DeleteAccountFeature/Localizable.xcstrings
  Packages/SDK/Package.swift
  Packages/SDK/Sources/DeviceCheckClient/Client.swift
  Packages/SDK/Sources/DeviceCheckClient/LiveKey.swift
Labels: BeMatch, SDK

#526 feat: 🎸 add lproj
  App/BeMatch/Multiplatform/en.lproj/Localizable.strings
  App/BeMatch/Multiplatform/ja.lproj/Localizable.strings
  App/BeMatch/Staging.xcodeproj/project.pbxproj
Labels: BeMatch

#527 feat: 🎸 prod localizable
  App/BeMatch/Production.xcodeproj/project.pbxproj
  App/BeMatch/Staging.xcodeproj/project.pbxproj
Labels: BeMatch

#529 feat: 🎸 prod localizable
  App/BeMatch/Production.xcodeproj/project.pbxproj
Labels: BeMatch

#534 feat: message room candidate matches in direct message tab
  Packages/BeMatch/GraphQL/Queries/DirectMessageTab.graphql
  Packages/BeMatch/GraphQL/Queries/UnsentDirectMessageListContent.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/DirectMessageTabQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UnsentDirectMessageListContentQuery.graphql.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageListContent.swift
Labels: BeMatch

#537 feat: us social account
  Packages/BeMatch/Sources/Constants/Constants.swift
  Packages/BeMatch/Sources/Constants/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#538 feat: staging app icon
  App/BeMatch/Multiplatform/Assets.xcassets/AppIcon-staging.appiconset/Contents.json
  App/BeMatch/Multiplatform/Assets.xcassets/AppIcon-staging.appiconset/Icon 1.png
  App/BeMatch/Staging.xcodeproj/project.pbxproj
Labels: BeMatch

#539 feat: membership purchase localizations
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/see-who-sent-it-ja.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/see-who-sent-it-ja.imageset/see-who-sent-it.pdf
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
  Packages/BeMatch/Sources/MembershipFeature/SpecialOfferView.swift
Labels: BeMatch

#543 Implement block, unmatch feature for ProfileExpolorer
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageList.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/DirectMessageTab.swift
  Packages/BeMatch/Sources/DirectMessageTabFeature/UnsentDirectMessageList.swift
  Packages/BeMatch/Sources/ProfileExplorerFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfileExplorerFeature/ProfileExplorer.swift
Labels: BeMatch

#558 feat: current application in constants client
  App/BeMatch/Multiplatform/App.swift
  Packages/MatchCore/Sources/ConstantsClient/Client.swift
  Packages/MatchCore/Sources/ConstantsClient/LiveKey.swift
Labels: BeMatch

#559 fix: unused capture
  Packages/BeMatch/Sources/BeRealCaptureFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/BeRealCaptureFeature/Assets.xcassets/be-match.imageset/Contents.json
  Packages/BeMatch/Sources/BeRealCaptureFeature/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/BeMatch/Sources/BeRealCaptureFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/BeRealCaptureFeature/PhotoGrid.swift
  Packages/BeMatch/Sources/BeRealCaptureFeature/PlusIcon.swift
  Packages/MatchCore/Sources/BeRealCaptureLogic/Assets.xcassets/Contents.json
  Packages/MatchCore/Sources/BeRealCaptureLogic/Assets.xcassets/be-match.imageset/Contents.json
  Packages/MatchCore/Sources/BeRealCaptureLogic/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/MatchCore/Sources/BeRealCaptureLogic/BeRealCapture.swift
  Packages/MatchCore/Sources/BeRealCaptureLogic/Localizable.xcstrings
Labels: BeMatch

#560 refactor: how to movie
  App/BeMatch/Multiplatform/App.swift
  Packages/MatchCore/Sources/BeRealSampleLogic/BeRealSample.swift
  Packages/MatchCore/Sources/ConstantsClient/Client.swift
  Packages/MatchCore/Sources/ConstantsClient/LiveKey.swift
Labels: BeMatch

#561 refactor: how to movie
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/HowToMovieFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/HowToMovieFeature/Assets.xcassets/be-match.imageset/Contents.json
  Packages/BeMatch/Sources/HowToMovieFeature/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/BeMatch/Sources/HowToMovieFeature/HowToMovie.swift
  Packages/BeMatch/Sources/HowToMovieFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/OnboardFeature/Onboard.swift
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
  Packages/MatchCore/Package.swift
  Packages/MatchCore/Sources/BeRealSampleLogic/Assets.xcassets/Contents.json
  Packages/MatchCore/Sources/BeRealSampleLogic/Assets.xcassets/be-match.imageset/Contents.json
  Packages/MatchCore/Sources/BeRealSampleLogic/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/MatchCore/Sources/HowToMovieLogic/HowToMovie.swift
  Packages/MatchCore/Sources/OnboardLogic/Onboard.swift
  Packages/MatchCore/Sources/ProfileEditLogic/ProfileEdit.swift
Labels: BeMatch

#562 chore: match core workflow
  .github/labeler.yml
  .github/workflows/bematch.yml
  .github/workflows/matchcore.yml
  .github/workflows/sdk.yml
  MatchCore.xcworkspace/contents.xcworkspacedata
  MatchCore.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  MatchCore.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: GitHub, MatchCore

#566 feat: required image size
  Packages/MatchCore/Package.swift
  Packages/MatchCore/Sources/ProfilePictureSettingLogic/ProfilePictureSetting.swift
Labels: MatchCore

#568 feat: see who sent it image
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/see-who-sent-it.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/see-who-sent-it.imageset/see-who-sent-it.pdf
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
Labels: BeMatch

#569 refactor: environment
  App/BeMatch/Multiplatform/App.swift
  Packages/MatchCore/Package.swift
  Packages/MatchCore/Sources/AppLogic/QuickActionLogic.swift
  Packages/MatchCore/Sources/ConstantsClient/TestKey.swift
  Packages/MatchCore/Sources/EnvironmentClient/Client.swift
  Packages/MatchCore/Sources/EnvironmentClient/LiveKey.swift
  Packages/MatchCore/Sources/EnvironmentClient/TestKey.swift
  Packages/MatchCore/Sources/ForceUpdateLogic/ForceUpdate.swift
  Packages/MatchCore/Sources/HowToMovieLogic/HowToMovie.swift
  Packages/MatchCore/Sources/MaintenanceLogic/Maintenance.swift
  Packages/MatchCore/Sources/ProfilePictureSettingLogic/ProfilePictureSetting.swift
  Packages/MatchCore/Sources/RecommendationEmptyLogic/RecommendationEmpty.swift
  Packages/MatchCore/Sources/SettingsLogic/Settings.swift
Labels: BeMatch, MatchCore

#576 fix: membership
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaignPrice.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/MatchCore/Sources/MembershipLogic/InvitationCampaign.swift
  Packages/MatchCore/Sources/MembershipLogic/Membership.swift
  Packages/MatchCore/Sources/MembershipLogic/MembershipCampaign.swift
  Packages/MatchCore/Sources/RecommendationEmptyLogic/RecommendationEmpty.swift
  Packages/MatchCore/Sources/SettingsLogic/Settings.swift
Labels: BeMatch, MatchCore

#580 Update bematch.yml
  .github/workflows/bematch.yml
Labels: GitHub

#585 chore: unility xcworkspace
  .github/workflows/renovate.yml
Labels: GitHub

#586 Fix sdk
  .github/labeler.yml
  .github/workflows/dependencies.yml
  .github/workflows/renovate.yml
  .github/workflows/sdk.yml
  Makefile
  SDK.xcworkspace/contents.xcworkspacedata
  SDK.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  SDK.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: GitHub

#587 feat: invite code share text
  Packages/MatchCore/Sources/MembershipLogic/Localizable.xcstrings
  Packages/MatchCore/Sources/MembershipLogic/Membership.swift
Labels: MatchCore

#588 fix: invite code padding
  Packages/BeMatch/Sources/MembershipFeature/InvitationCodeCampaign.swift
  Packages/MatchCore/Sources/MembershipLogic/Localizable.xcstrings
Labels: BeMatch, MatchCore

#590 fix: share text
  Packages/MatchCore/Sources/MembershipLogic/Localizable.xcstrings
  Packages/MatchCore/Sources/MembershipLogic/Membership.swift
Labels: MatchCore

#593 feat: membership status free
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/MembershipStatusFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipStatusFeature/MembershipStatusFreeContent.swift
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
  Packages/MatchCore/Package.swift
  Packages/MatchCore/Sources/MatchNavigationLogic/MatchNavigation.swift
  Packages/MatchCore/Sources/MembershipStatusLogic/MembershipStatusFreeContent.swift
  Packages/MatchCore/Sources/SettingsLogic/Settings.swift
Labels: BeMatch, MatchCore

#595 feat: impl animations is profile edit and received like router
  Packages/MatchCore/Sources/ProfileEditLogic/ProfileEdit.swift
  Packages/MatchCore/Sources/ReceivedLikeRouterLogic/ReceivedLikeRouter.swift
Labels: MatchCore

#596 Delete .github/workflows/matchcore.yml
  .github/workflows/matchcore.yml
Labels: GitHub

#601 refactor: profile edit nullable user
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
  Packages/BeMatch/Sources/ProfileEditFeature/ShortCommentStatus.swift
Labels: BeMatch

#605 refactor: recommendations
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/RecommendationEmptyFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/RecommendationFeature/Assets.xcassets/high-alert.imageset/Contents.json
  Packages/BeMatch/Sources/RecommendationFeature/Assets.xcassets/high-alert.imageset/high-alert.pdf
  Packages/BeMatch/Sources/RecommendationFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/RecommendationFeature/Recommendation.swift
  Packages/BeMatch/Sources/RecommendationFeature/RecommendationEmpty.swift
  Packages/BeMatch/Sources/RecommendationLoadingFeature/RecommendationLoading.swift
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Assets.xcassets/heart.imageset/Contents.json
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Assets.xcassets/heart.imageset/heart.pdf
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Assets.xcassets/xmark.imageset/Contents.json
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Assets.xcassets/xmark.imageset/xmark.pdf
  Packages/BeMatch/Sources/RecommendationSwipeFeature/RecommendationSwipe.swift
  Packages/MatchCore/Package.swift
  Packages/MatchCore/Sources/RecommendationEmptyLogic/Assets.xcassets/Contents.json
  Packages/MatchCore/Sources/RecommendationEmptyLogic/Assets.xcassets/high-alert.imageset/Contents.json
  Packages/MatchCore/Sources/RecommendationEmptyLogic/Assets.xcassets/high-alert.imageset/high-alert.pdf
  Packages/MatchCore/Sources/RecommendationLoadingLogic/RecommendationLoading.swift
  Packages/MatchCore/Sources/RecommendationLogic/Assets.xcassets/Contents.json
  Packages/MatchCore/Sources/RecommendationLogic/Assets.xcassets/be-match.imageset/Contents.json
  Packages/MatchCore/Sources/RecommendationLogic/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/MatchCore/Sources/RecommendationLogic/Localizable.xcstrings
  Packages/MatchCore/Sources/RecommendationLogic/Recommendation.swift
  Packages/MatchCore/Sources/RecommendationLogic/RecommendationEmpty.swift
  Packages/MatchCore/Sources/RecommendationSwipeLogic/Assets.xcassets/Contents.json
  Packages/MatchCore/Sources/RecommendationSwipeLogic/Assets.xcassets/heart.imageset/Contents.json
  Packages/MatchCore/Sources/RecommendationSwipeLogic/Assets.xcassets/heart.imageset/heart.pdf
  Packages/MatchCore/Sources/RecommendationSwipeLogic/Assets.xcassets/xmark.imageset/Contents.json
  Packages/MatchCore/Sources/RecommendationSwipeLogic/Assets.xcassets/xmark.imageset/xmark.pdf
  Packages/MatchCore/Sources/RecommendationSwipeLogic/RecommendationSwipe.swift
Labels: BeMatch, MatchCore

#607 fix: build
  Packages/BeMatch/Package.swift
  Packages/MatchCore/Package.swift
Labels: BeMatch, MatchCore

#609 Update RootNavigation.swift
  Packages/MatchCore/Sources/NavigationLogic/RootNavigation.swift
Labels: MatchCore
