Repository 0x1-company/ios-monorepo, pull requests merged in 2024-01, with the labels that each got.

#86 feat: 🎸 banner analytics
  Packages/BeMatch/Sources/AnalyticsKeys/ButtonClickKeys.swift
  Packages/BeMatch/Sources/BannerFeature/Banner.swift
Labels: BeMatch

#87 feat: 🎸 image cache clear
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
Labels: BeMatch

#89 feat: 🎸 user property
  Packages/BeMatch/Sources/AnalyticsKeys/UserPropertyKeys.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/GenderSettingFeature/GenderSetting.swift
  Packages/BeMatch/Sources/UsernameSettingFeature/UsernameSetting.swift
Labels: BeMatch

#91 feat: 🎸 impl request review
  Packages/BeMatch/Sources/MatchedFeature/Matched.swift
Labels: BeMatch

#93 feat: 🎸 quick action
  App/BeMatch/Multiplatform/InfoPlist.xcstrings
  App/BeMatch/Multiplatform/Production/Info.plist
  App/BeMatch/Multiplatform/Staging/Info.plist
  Packages/BeMatch/Sources/Constants/Constants.swift
Labels: BeMatch

#95 feat: 🎸 share default text
  Packages/BeMatch/Sources/RecommendationEmptyFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/RecommendationEmptyFeature/RecommendationEmpty.swift
Labels: BeMatch

#98 feat: matches pagination
  Packages/BeMatch/GraphQL/Fragments/NextPagination.graphql
  Packages/BeMatch/GraphQL/Queries/Matches.graphql
  Packages/BeMatch/Sources/BeMatch/Fragments/NextPagination.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MatchesQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/PageInfo.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/MatchFeature/Match.swift
Labels: BeMatch

#100 fix: 🐛 swipe
  Packages/BeMatch/Sources/RecommendationSwipeFeature/RecommendationSwipe.swift
Labels: BeMatch

#102 feat: 🎸 profile image
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/SDK/Sources/FirebaseStorageClient/Client.swift
  Packages/SDK/Sources/FirebaseStorageClient/LiveKey.swift
Labels: BeMatch, SDK

#104 fix: 🐛 sleep
  Packages/BeMatch/Sources/RecommendationSwipeFeature/RecommendationSwipe.swift
Labels: BeMatch

#107 feat: match list sort
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/ConfigGlobalLogic.swift
  Packages/BeMatch/Sources/MatchFeature/Match.swift
  Packages/SDK/Sources/ConfigGlobalClient/Client.swift
Labels: BeMatch, SDK

#110 feat: 🎸 config global failure to maintenance
  Packages/BeMatch/Sources/AppFeature/ConfigGlobalLogic.swift
Labels: BeMatch

#111 Maintenance
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
  Packages/BeMatch/Sources/AppFeature/ConfigGlobalLogic.swift
  Packages/BeMatch/Sources/MaintenanceFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MaintenanceFeature/Maintenance.swift
Labels: BeMatch

#113 feat: 🎸 install apps flyer
  BeMatch.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Packages/SDK/Package.swift
  Packages/SDK/Sources/AppsFlyerClient/Client.swift
Labels: BeMatch, SDK

#115 feat: 🎸 apps flyer client
  Packages/SDK/Sources/AppsFlyerClient/Client.swift
  Packages/SDK/Sources/AppsFlyerClient/LiveKey.swift
  Packages/SDK/Sources/AppsFlyerClient/TestKey.swift
Labels: SDK

#116 feat: 🎸 tracking manager
  Packages/SDK/Package.swift
  Packages/SDK/Sources/ATTrackingManagerClient/Client.swift
  Packages/SDK/Sources/ATTrackingManagerClient/LiveKey.swift
  Packages/SDK/Sources/ATTrackingManagerClient/TestKey.swift
Labels: SDK

#117 feat: impl apps flyer
  App/BeMatch/Multiplatform/InfoPlist.xcstrings
  App/BeMatch/Multiplatform/Production/Info.plist
  App/BeMatch/Multiplatform/Staging/Info.plist
  App/BeMatch/Production.xcodeproj/project.pbxproj
  App/BeMatch/Staging.xcodeproj/project.pbxproj
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppDelegate.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
  Packages/BeMatch/Sources/AppFeature/UserSettingsLogic.swift
  Packages/SDK/Sources/ATTrackingManagerClient/Client.swift
  Packages/SDK/Sources/ATTrackingManagerClient/LiveKey.swift
  Packages/SDK/Sources/Build/Client.swift
  Packages/SDK/Sources/Build/LiveKey.swift
  Packages/SDK/Sources/Build/TestKey.swift
  Packages/SDK/Sources/NotificationCenterClient/Client.swift
  Packages/SDK/Sources/NotificationCenterClient/LiveKey.swift
  Packages/SDK/Sources/NotificationCenterClient/TestKey.swift
  Packages/SDK/Sources/UserSettingsClient/Client.swift
  Packages/SDK/Sources/UserSettingsClient/LiveKey.swift
Labels: BeMatch, SDK

#121 feat: 🎸 premium
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/PremiumFeature/InvitationCampaign.swift
  Packages/BeMatch/Sources/PremiumFeature/InvitationCodeCampaign.swift
  Packages/BeMatch/Sources/PremiumFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/PremiumFeature/Premium.swift
  Packages/BeMatch/Sources/PremiumFeature/PremiumCampaign.swift
  Packages/BeMatch/Sources/PremiumFeature/PremiumPurchase.swift
  Packages/BeMatch/Sources/PremiumFeature/PurchaseAbout.swift
Labels: BeMatch

#122 feat: 🎸 profile images
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/SDK/Sources/FirebaseStorageClient/Client.swift
  Packages/SDK/Sources/FirebaseStorageClient/LiveKey.swift
Labels: BeMatch, SDK

#123 feat: impl tutorial
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/SettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingFeature/Setting.swift
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/busts-in-silhouette.imageset/Contents.json
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/busts-in-silhouette.imageset/busts-in-silhouette.svg
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/coin.imageset/Contents.json
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/coin.imageset/coin.svg
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/locked.imageset/Contents.json
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/locked.imageset/locked.svg
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/speech-balloon.imageset/Contents.json
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/speech-balloon.imageset/speech-balloon.svg
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/waving-hand.imageset/Contents.json
  Packages/BeMatch/Sources/TutorialFeature/Assets.xcassets/waving-hand.imageset/waving-hand.svg
  Packages/BeMatch/Sources/TutorialFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/TutorialFeature/Step1.swift
  Packages/BeMatch/Sources/TutorialFeature/Step2.swift
  Packages/BeMatch/Sources/TutorialFeature/Step3.swift
  Packages/BeMatch/Sources/TutorialFeature/Tutorial.swift
Labels: BeMatch

#126 fix: 🐛 localization
  Packages/BeMatch/Sources/SettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingFeature/Setting.swift
Labels: BeMatch

#128 feat: 🎸 recevied like placeholder size
  Packages/BeMatch/Sources/MatchFeature/ReceivedLikeGrid.swift
Labels: BeMatch

#127 feat: 🎸 recommendation report
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/ProfileExternalFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/RecommendationSwipeFeature/RecommendationSwipe.swift
  Packages/BeMatch/Sources/RecommendationSwipeFeature/SwipeCard.swift
Labels: BeMatch

#131 fix: 🐛 disabled report recommendations
  Packages/BeMatch/Sources/RecommendationSwipeFeature/SwipeCard.swift
Labels: BeMatch

#130 feat: settings
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AnalyticsKeys/ButtonClickKeys.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
  Packages/BeMatch/Sources/MatchFeature/Match.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
  Packages/BeMatch/Sources/SettingsFeature/SettingsOther.swift
Labels: BeMatch

#134 fix: settings and recommendation swipe
  Packages/BeMatch/Sources/RecommendationSwipeFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/RecommendationSwipeFeature/SwipeCard.swift
  Packages/BeMatch/Sources/SettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingFeature/Setting.swift
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
  Packages/BeMatch/Sources/SettingsFeature/SettingsOther.swift
Labels: BeMatch

#135 Settings version
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/SettingsFeature/CreationDate.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#138 feat: 🎸 bereal-username
  Packages/BeMatch/Sources/UsernameSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/UsernameSettingFeature/UsernameSetting.swift
Labels: BeMatch

#143 feat: 🎸 social account links
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#146 feat: 🎸 received count max
  Packages/BeMatch/Sources/MatchFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchFeature/ReceivedLikeGrid.swift
Labels: BeMatch

#151 feat: 🎸 membership
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCodeCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
  Packages/BeMatch/Sources/MembershipFeature/PurchaseAbout.swift
  Packages/BeMatch/Sources/PremiumFeature/Premium.swift
Labels: BeMatch

#153 feat: 🎸 banned feature
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/BannedFeature/Banned.swift
  Packages/BeMatch/Sources/BannedFeature/Localizable.xcstrings
Labels: BeMatch

#154 feat: 🎸 user status banned
  Packages/BeMatch/GraphQL/Fragments/UserInternal.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
  Packages/BeMatch/Sources/AppFeature/UserSettingsLogic.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/UserInternal.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateUserMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/CurrentUserQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MatchesQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Enums/UserStatus.graphql.swift
  Packages/FlyCam/Sources/FlyCam/Operations/Mutations/CreatePostMutation.graphql.swift
  Packages/FlyCam/Sources/FlyCam/Operations/Queries/RankingQuery.graphql.swift
Labels: BeMatch, FlyCam

#156 feat: impl bematch client
  Packages/BeMatch/GraphQL/Mutations/CreateAppleSubscription.graphql
  Packages/BeMatch/GraphQL/Mutations/CreateInvitation.graphql
  Packages/BeMatch/GraphQL/Queries/ActiveInvitationCampaign.graphql
  Packages/BeMatch/GraphQL/Queries/ActivePremiumMemberships.graphql
  Packages/BeMatch/GraphQL/Queries/InvitationCode.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateAppleSubscriptionMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateInvitationMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/ActiveInvitationCampaignQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/ActivePremiumMembershipsQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/InvitationCodeQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Enums/AppleSubscriptionEnvironment.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/InputObjects/CreateAppleSubscriptionInput.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/InputObjects/CreateInvitationInput.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/InvitationCampaign.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/InvitationCode.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/PremiumMembership.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/BeMatchClient/TestKey.swift
Labels: BeMatch

#157 feat: 🎸 impl store logic
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/AppFeature/StoreLogic.swift
Labels: BeMatch

#159 feat: membership ui
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/InvitationCodeFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/InvitationCodeFeature/Assets.xcassets/invite-ticket.imageset/Contents.json
  Packages/BeMatch/Sources/InvitationCodeFeature/Assets.xcassets/invite-ticket.imageset/invite-ticket.pdf
  Packages/BeMatch/Sources/InvitationCodeFeature/InvitationCode.swift
  Packages/BeMatch/Sources/InvitationCodeFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MatchFeature/ReceivedLikeGrid.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#163 feat: membership
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/bematch-campaign.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/bematch-campaign.imageset/bematch-campaign.pdf
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/get-benefit.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/get-benefit.imageset/get-benefit.pdf
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/invite-ticket.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/invite-ticket.imageset/invite-ticket.pdf
  Packages/BeMatch/Sources/MembershipFeature/ButtonStyle/ConversionPrimaryButtonStyle.swift
  Packages/BeMatch/Sources/MembershipFeature/ButtonStyle/ConversionSecondaryButtonStyle.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCodeCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
Labels: BeMatch

#165 feat: membership purchase
  App/BeMatch/Multiplatform/Production/Info.plist
  App/BeMatch/Multiplatform/Staging/Info.plist
  Packages/BeMatch/GraphQL/Queries/Membership.graphql
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MembershipQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCodeCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
Labels: BeMatch

#167 feat: 🎸 has premium membership
  Packages/BeMatch/GraphQL/Queries/ActivePremiumMemberships.graphql
  Packages/BeMatch/GraphQL/Queries/HasPremiumMemberships.graphql
  Packages/BeMatch/GraphQL/Queries/UsersByLiker.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/ActivePremiumMembershipsQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/HasPremiumMembershipsQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UsersByLikerQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Objects/PremiumMembership.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
Labels: BeMatch

#168 refactor: 💡 match
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/MatchFeature/Match.swift
  Packages/BeMatch/Sources/MatchFeature/MatchGrid.swift
  Packages/BeMatch/Sources/MatchFeature/ReceivedLikeGrid.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
Labels: BeMatch

#179 refactor: settings
  Packages/BeMatch/Sources/EditProfileFeature/EditProfile.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#180 fix: invitation layout
  Packages/BeMatch/Sources/InvitationFeature/Invitation.swift
Labels: BeMatch

#181 feat: upgrade button
  Packages/BeMatch/GraphQL/Queries/ActiveInvitationCampaign.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/ActiveInvitationCampaignQuery.graphql.swift
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
Labels: BeMatch

#183 feat: duration weeks
  Packages/BeMatch/GraphQL/Queries/Membership.graphql
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MembershipQuery.graphql.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
Labels: BeMatch

#185 fix: 🐛 campaign
  Packages/BeMatch/GraphQL/Queries/ActiveInvitationCampaign.graphql
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/ActiveInvitationCampaignQuery.graphql.swift
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/bematch-pro.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/bematch-pro.imageset/bematch-pro.pdf
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/how-to-receive-benefit.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/how-to-receive-benefit.imageset/get-benefit.pdf
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaignPrice.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCodeCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
Labels: BeMatch

#188 feat: 🎸 screen event
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipPurchase.swift
Labels: BeMatch

#194 fix: 🐛 failure transaction finish
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
Labels: BeMatch

#197 feat: 🎸 banned user id
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/BannedFeature/Banned.swift
  Packages/BeMatch/Sources/BannedFeature/Localizable.xcstrings
Labels: BeMatch

#202 Validate username
  Packages/BeMatch/Sources/InvitationCodeFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/UsernameSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/UsernameSettingFeature/UsernameSetting.swift
  Packages/SDK/Sources/ApolloConcurrency/ApolloConcurrency.swift
Labels: BeMatch, SDK

#203 fix: 🐛 unmatch
  Packages/BeMatch/Sources/MatchFeature/Match.swift
Labels: BeMatch

#206 feat: 🎸 hidden invitation code
  Packages/BeMatch/Sources/AppFeature/AppLogic.swift
  Packages/BeMatch/Sources/OnboardFeature/Onboard.swift
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#212 feat: active invitation campaign show code input screen
  Packages/BeMatch/GraphQL/Queries/ActiveInvitationCampaign.graphql
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/ActiveInvitationCampaignQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/InvitationFeature/Invitation.swift
  Packages/BeMatch/Sources/OnboardFeature/Onboard.swift
  Packages/BeMatch/Sources/SettingsFeature/Localizable.xcstrings
Labels: BeMatch

#213 fix: 🐛 membership child
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
Labels: BeMatch

#215 feat: 🎸 campaign screen
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/invitation-code-sample.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/invitation-code-sample.imageset/invitation-code-sample.pdf
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/line.imageset/Contents.json
  Packages/BeMatch/Sources/MembershipFeature/Assets.xcassets/line.imageset/line.pdf
  Packages/BeMatch/Sources/MembershipFeature/HowToReceiveBenefitView.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCampaignPrice.swift
  Packages/BeMatch/Sources/MembershipFeature/InvitationCodeCampaign.swift
  Packages/BeMatch/Sources/MembershipFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/MembershipFeature/MembershipCampaign.swift
Labels: BeMatch

#218 feat: 🎸 empty link to appsflyer
  Packages/BeMatch/Sources/Constants/Constants.swift
Labels: BeMatch

#219 refactor: 💡 profile edit
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/ProfileEditFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
  Packages/BeMatch/Sources/SettingsFeature/Settings.swift
Labels: BeMatch

#220 feat: 🎸 membership dismiss
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
Labels: BeMatch

#222 fix: 🐛 record text
  Packages/FlyCam/Sources/AppFeature/UserSettingsLogic.swift
  Packages/FlyCam/Sources/CameraRecordFeature/CaptureTool.swift
  Packages/FlyCam/Sources/CameraRecordFeature/Localizable.xcstrings
Labels: FlyCam

#230 feat: 🎸 png to jpeg
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/SDK/Sources/FirebaseStorageClient/LiveKey.swift
Labels: BeMatch, SDK

#231 refactor: BeMatchCapture
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/BeMatch/Sources/BeRealCaptureFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/BeRealCaptureFeature/PhotoGrid.swift
Labels: BeMatch

#226 feat: improve swipe onEnded animation
  Packages/BeMatch/Sources/SwipeCardFeature/SwipeCard.swift
Labels: BeMatch

#233 improve swipe card animation
  Packages/BeMatch/Sources/SwipeCardFeature/SwipeCard.swift
Labels: BeMatch

#234 feat: 🎸 require photo saved with bereal
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/BeMatch/Sources/BeRealCaptureFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/BeRealCaptureFeature/PhotoGrid.swift
  Packages/BeMatch/Sources/OnboardFeature/Onboard.swift
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
Labels: BeMatch

#236 fix: 🐛 capture
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/BeMatch/Sources/OnboardFeature/Onboard.swift
Labels: BeMatch

#242 feat: short comment
  Packages/BeMatch/GraphQL/Fragments/SwipeCard.graphql
  Packages/BeMatch/GraphQL/Fragments/UserInternal.graphql
  Packages/BeMatch/GraphQL/Mutations/UpdateShortComment.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Package.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/SwipeCard.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/UserInternal.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateUserMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/UpdateShortCommentMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/CurrentUserQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/RecommendationsQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UsersByLikerQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/InputObjects/UpdateShortCommentInput.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/SchemaMetadata.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
  Packages/BeMatch/Sources/ProfileEditFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Assets.xcassets/Contents.json
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Assets.xcassets/be-match.imageset/Contents.json
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Assets.xcassets/be-match.imageset/be-match.pdf
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
  Packages/BeMatch/Sources/SwipeCardFeature/SwipeCard.swift
Labels: BeMatch

#243 feat: 🎸 failure reason
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
Labels: BeMatch

#245 fix: 🐛 short comment edit
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
Labels: BeMatch

#247 feat: 🎸 facebook
  App/BeMatch/Multiplatform/Production/Info.plist
  App/BeMatch/Multiplatform/Staging/Info.plist
Labels: BeMatch

#248 feat: 🎸 delete account alert
  Packages/BeMatch/Sources/DeleteAccountFeature/DeleteAccount.swift
  Packages/BeMatch/Sources/DeleteAccountFeature/Localizable.xcstrings
Labels: BeMatch

#251 fix: 🐛 package
  Packages/BeMatch/Package.swift
Labels: BeMatch

#254 feat: 🎸 swipe report
  Packages/BeMatch/Sources/SwipeCardFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/SwipeCardFeature/SwipeCard.swift
Labels: BeMatch

#258 fix: 🐛 profile external
  Packages/BeMatch/Sources/ProfileExternalFeature/ProfileExternal.swift
Labels: BeMatch

#260 fix: 🐛 tab name
  Packages/BeMatch/Sources/NavigationFeature/RootNavigation.swift
Labels: BeMatch

#261 feat: 🎸 create user region code
  Packages/BeMatch/GraphQL/Mutations/CreateUser.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/AppFeature/AuthLogic.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/MatchGrid.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/PictureSlider.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/SwipeCard.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Fragments/UserInternal.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateUserMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/UpdateShortCommentMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/CurrentUserQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/MatchesQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/RecommendationsQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/UsersByLikerQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/InputObjects/CreateUserInput.graphql.swift
  Packages/BeMatch/Sources/BeMatchClient/Client.swift
  Packages/BeMatch/Sources/BeMatchClient/LiveKey.swift
Labels: BeMatch

#262 refactor: 💡 alert and confirmation in destination
  Packages/BeMatch/Sources/BeRealCaptureFeature/BeRealCapture.swift
  Packages/BeMatch/Sources/DeleteAccountFeature/DeleteAccount.swift
  Packages/BeMatch/Sources/MatchNavigationFeature/MatchNavigation.swift
  Packages/BeMatch/Sources/MembershipFeature/Membership.swift
  Packages/BeMatch/Sources/ProfileExternalFeature/ProfileExternal.swift
Labels: BeMatch

#266 feat: 🎸 failed short comments
  Packages/BeMatch/Sources/ShortCommentSettingFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
Labels: BeMatch

#268 feat: 🎸 center short comment
  Packages/BeMatch/Sources/ProfileSharedFeature/PictureSlider.swift
  Packages/BeMatch/Sources/SwipeCardFeature/SwipeCard.swift
Labels: BeMatch

#272 feat: 🎸 short comment status
  Packages/BeMatch/GraphQL/Fragments/UserInternal.graphql
  Packages/BeMatch/GraphQL/schema.graphqls
  Packages/BeMatch/Sources/BeMatch/Fragments/UserInternal.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Mutations/CreateUserMutation.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Operations/Queries/CurrentUserQuery.graphql.swift
  Packages/BeMatch/Sources/BeMatch/Schema/Enums/ShortCommentStatus.graphql.swift
  Packages/BeMatch/Sources/ProfileEditFeature/Localizable.xcstrings
  Packages/BeMatch/Sources/ProfileEditFeature/ProfileEdit.swift
  Packages/BeMatch/Sources/ProfileEditFeature/ShortCommentStatus.swift
Labels: BeMatch

#274 feat: 🎸 short comment field
  Packages/BeMatch/Sources/ShortCommentSettingFeature/ShortCommentSetting.swift
Labels: BeMatch

#276 Update renovate.yml
  .github/labeler.yml
  .github/workflows/renovate.yml
Labels: GitHub
